apiVersion: v1
kind: Service
metadata:
  name: hive-metastore
  namespace: bigdata4
  labels:
    app: hive-metastore
spec:
  ports:
  - port: 9083
    targetPort: 9083
    name: thrift
  selector:
    app: hive-metastore
---
apiVersion: v1
kind: Service
metadata:
  name: hive-metastore-external
  namespace: bigdata4
  labels:
    app: hive-metastore
spec:
  type: NodePort
  ports:
  - port: 9083
    targetPort: 9083
    name: thrift
  selector:
    app: hive-metastore
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hive-metastore
  namespace: bigdata4
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hive-metastore
  template:
    metadata:
      labels:
        app: hive-metastore
    spec:
      containers:
      - name: metastore
        image: zhuyifeiruichuang/hive:3.1.2
        imagePullPolicy: IfNotPresent
        securityContext:
          runAsUser: 1001
        command: ["/bin/bash", "-c"]
        args:
          - |
            set -e 
            
            HADOOP_CONF_DIR="/opt/hadoop/etc/hadoop"
            HIVE_CONF_DIR="/opt/hive/conf" 
            
            echo "Checking and initializing Metastore Schema..."
            hive -f ${HIVE_CONF_DIR}/hive-site.xml \
                 -hiveconf hive.metastore.schema.verification=false \
                 --service schematool -dbType postgres -validate || \
            hive -f ${HIVE_CONF_DIR}/hive-site.xml \
                 -hiveconf hive.metastore.schema.verification=false \
                 --service schematool -dbType postgres -initSchema
            
            echo "Metastore Schema is ready. Starting Metastore Service..."
            
            hive --service metastore
            
        env:
          - name: HADOOP_CONF_DIR
            value: "/opt/hadoop/etc/hadoop"
          - name: HIVE_CONF_DIR
            value: "/opt/hive/conf"
        ports:
        - containerPort: 9083
        volumeMounts:
        - name: hadoop-config-volume
          mountPath: /opt/hadoop/etc/hadoop
        - name: hive-config-volume
          mountPath: /opt/hive/conf/hive-site.xml
          subPath: hive-site.xml
      volumes:
        - name: hadoop-config-volume
          configMap:
            name: hadoop-config
        - name: hive-config-volume
          configMap:
            name: hive-config
