apiVersion: v1
kind: Service
metadata:
  name: hiveserver2
  namespace: bigdata4
spec:
  type: NodePort
  ports:
  - port: 10000
    targetPort: 10000
    name: jdbc
  - port: 10002
    targetPort: 10002
    name: http-ui
  selector:
    app: hiveserver2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hiveserver2
  namespace: bigdata4
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hiveserver2
  template:
    metadata:
      labels:
        app: hiveserver2
    spec:
      containers:
      - name: hiveserver2
        image: zhuyifeiruichuang/hive:3.1.2
        imagePullPolicy: IfNotPresent
        securityContext:
          runAsUser: 1001
        command: ["/bin/bash", "-c"]
        args:
          - |
            set -e
            
            echo "Waiting for Hive Metastore to be ready..."
            while ! nc -z hive-metastore.bigdata4.svc.cluster.local 9083; do   
              sleep 1; 
            done
            echo "Metastore is up. Starting HiveServer2..."
            
            hive --service hiveserver2
            
        env:
          - name: HADOOP_CONF_DIR
            value: "/opt/hadoop/etc/hadoop"
          - name: HIVE_CONF_DIR
            value: "/opt/hive/conf" 
        ports:
        - containerPort: 10000
        - containerPort: 10002
        volumeMounts:
        - name: hadoop-config-volume
          mountPath: /opt/hadoop/etc/hadoop
        - name: hive-config-volume
          mountPath: /opt/hive/conf/hive-site.xml
          subPath: hive-site.xml
      volumes:
        - name: hadoop-config-volume
          configMap:
            name: hadoop-config
        - name: hive-config-volume
          configMap:
            name: hive-config
