apiVersion: v1
kind: ConfigMap
metadata:
  name: hive-config
  namespace: bigdata4
data:
  hive-site.xml: |
    <?xml version="1.0"?>
    <configuration>
      <!-- ======================================= -->
      <!-- 1. Tez Execution Engine Configuration -->
      <!-- ======================================= -->
      <property>
        <name>hive.execution.engine</name>
        <value>tez</value>
        <description>Hive's execution engine should be Tez</description>
      </property>
      <property>
        <name>tez.lib.uris</name>
        <value>${system:fs.defaultFS}/hivedata/tez/apache-tez-0.9.2-bin.tar.gz</value>
        <description>The location of the Tez jars in HDFS</description>
      </property>
      <property>
        <name>hive.auto.convert.join.noconditionaltask</name>
        <value>true</value>
      </property>

      <!-- ======================================= -->
      <!-- 2. Iceberg Configuration -->
      <!-- ======================================= -->
      <property>
        <name>iceberg.engine.hive.enabled</name>
        <value>true</value>
        <description>Enable Hive engine to support Iceberg table operations</description>
      </property>
      <property>
        <name>hive.imetastore.catalog.default</name>
        <value>hadoop_prod</value>
        <description>Default Iceberg catalog implementation</description>
      </property>
      <property>
        <name>iceberg.catalog.hadoop_prod.type</name>
        <value>hive</value>
        <description>Use Hive as the catalog for Iceberg</description>
      </property>
      <property>
        <name>iceberg.catalog.hadoop_prod.uri</name>
        <value>thrift://hive-metastore.bigdata4.svc.cluster.local:9083</value>
        <description>Metastore URI for the Iceberg Hive catalog</description>
      </property>
      
      <property>
        <name>hive.metastore.uris</name>
        <value>thrift://hive-metastore.bigdata4.svc.cluster.local:9083</value>
        <description>URI for the Hive Metastore Thrift service</description>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionURL</name>
        <value>jdbc:mysql://mysql-hive-db-internal.bigdata4.svc.cluster.local:3306/hivedb?createDatabaseIfNotExist=true&amp;useSSL=false&amp;allowPublicKeyRetrieval=true</value>
        <description>JDBC connect string for a JDBC Metastore</description>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionDriverName</name>
        <value>com.mysql.cj.jdbc.Driver</value>
        <description>Driver class name for a JDBC Metastore</description>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionUserName</name>
        <value>hiveuser</value>
        <description>Username to use against Metastore database</description>
      </property>
      <property>
        <name>javax.jdo.option.ConnectionPassword</name>
        <value>hivepassword</value>
        <description>Password to use against Metastore database</description>
      </property>
      
      <!-- HDFS/YARN Integration -->
      <property>
        <name>hive.metastore.warehouse.dir</name>
        <value>/user/hive/warehouse</value>
        <description>Default location for the managed tables</description>
      </property>
      <property>
        <name>hive.exec.scratchdir</name>
        <value>/tmp/hive/scratch</value>
        <description>Temporary scratch space on HDFS</description>
      </property>
      <property>
        <name>mapreduce.framework.name</name>
        <value>yarn</value>
        <description>Use YARN for execution engine</description>
      </property>

      <!-- Security -->
      <property>
        <name>hive.metastore.execute.setugi</name>
        <value>true</value>
        <description>Used to set the user in the metastore</description>
      </property>
      
    </configuration>
